<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{noreadmorelink} != 1">
    <f:cObject typoscriptObjectPath="plugin.mdy.readmorelink" data="{data}"/>
</f:if>

<f:if condition="{data.linkToTop}">
    <p>
        <a href="#top"><f:translate key="toTop" extensionName="fluid_styled_content" /></a>
    </p>
</f:if>

</html>


