<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:section name="headerTypolink">
    <f:if condition="{readmoredisableheaderlink}">
        <f:then>
            {header}
        </f:then>
        <f:else>
            <f:link.typolink parameter="{link}">{header}</f:link.typolink>
        </f:else>
    </f:if>
</f:section>

<f:if condition="{header}">
    <f:switch expression="{layout}">
        <f:case value="1">
            <h1 class="{positionClass}">
                {f:render(section: 'headerTypolink', arguments: '{_all}')}
            </h1>
        </f:case>
        <f:case value="2">
            <h2 class="{positionClass}">
                {f:render(section: 'headerTypolink', arguments: '{_all}')}
            </h2>
        </f:case>
        <f:case value="3">
            <h3 class="{positionClass}">
                {f:render(section: 'headerTypolink', arguments: '{_all}')}
            </h3>
        </f:case>
        <f:case value="4">
            <h4 class="{positionClass}">
                {f:render(section: 'headerTypolink', arguments: '{_all}')}
            </h4>
        </f:case>
        <f:case value="5">
            <h5 class="{positionClass}">
                {f:render(section: 'headerTypolink', arguments: '{_all}')}
            </h5>
        </f:case>
        <f:case value="6">
            <h6 class="{positionClass}">
                {f:render(section: 'headerTypolink', arguments: '{_all}')}
            </h6>
        </f:case>
        <f:case value="100">
            <f:comment> -- do not show header -- </f:comment>
        </f:case>
        <f:defaultCase>
            <f:if condition="{default}">
                <f:render partial="Header/Header" arguments="{
                    header: header,
                    layout: default,
                    positionClass: positionClass,
                    link: link,
                    readmoredisableheaderlink: readmoredisableheaderlink}" />
            </f:if>
        </f:defaultCase>
    </f:switch>
</f:if>
</html>
